*{
   margin: 10px;
}
.reload{
   background-color: white;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px black solid;
   border-top: 2px white solid ;
   animation: round 1s infinite;
}
.container{
   max-width: 1600px;
   margin: 0 auto;
   min-width: 450px;

}

p{
   color: #b1afaf;
}
@keyframes round{
   from{
      transform: rotate(390deg);
   }
   to{
      transform: rotate(-390deg);
   }
}